<h2>Discussion Forum</h2>
<%= link_to_unless_current "Current Discussions", :action => "index" %>
<br>
<% if !@posts.nil? and @posts!= [] %>
    <% i = 0 %>
    <div id="bio" class="faq_answer">
      <table class="users">
        <tr>
          <th class="label"><b>Sr. No</b></th>
          <th class="label"><b>Course</b></th>
          <th class="label"><b>Creator</b></th>
        </tr>
        <% @courses.each do |course| %>
            <tr>
              <td><%= i += 1 %> </td>
              <td><a href="/discussions/display?course_id=<%= course.id %>"><%= course.title %></a>
              <td><%= course.created_by %></td>
            </tr>
        <% end %>
      </table>
    </div>
<% else %>
    <p>Currently no discussions exist. </p>
<% end %>
