<h2>Start a discussion</h2>
<%= form_for :discussion do |form| %>
    <fieldset>
      <legend><b>Discussion</b></legend>
      <div class="post">
        <p>
          <label for="title">Title: </label>
          <%= form.text_field :title %> </p>

        <div class="post">
          <label for="course_id">Discussion topic</label>
          <!--% form.select :course_id, (@course_id) %-->
          <select name="course_id">
            <% @courses.each do |course| %>
                <option value="<%= course.title %>"><%= course.title %></option>
            <% end %>
            <option value="General" selected="General Discussion">General discussion</option>
          </select>
        </div>
        <div>
          <%= submit_tag "Create", :class => "submit", :action => "create" %>
        </div>
      </div>
    </fieldset>
<% end %>
