<!DOCTYPE html> 
<html>
<head>
  <title>Project MOOC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="whole_page">
<div id="header">Project MOOC</div>
<div id="nav">
  <span style="float: right">
 <% if logged_in? -%>
         <%= nav_link "Profile", "users", "index" %> |
         <%= nav_link "Logout", "users", "logout" %>
       <% else -%>
	 <%= nav_link "Register Here!", "users", "register" %> |
         <%= nav_link "Login", "users", "login" %>
 
 <% end -%>
   </span>
<%= nav_link "Home", 'users', 'login'  %> |
<%= nav_link "Course", 'courses', 'index' %> |
<%= nav_link "Discussion", 'discussions', 'index' %>
<%= yield %>
</div></div>
</body>
</html>

