<!DOCTYPE html>
<html>
<head>
  <title>Project MOOC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="whole_page">
<div id="header">Project MOOC</div>
<div id="nav">
  <span style="float: right">
	 <%= nav_link "Register Here!", "user", "register" %> |
         <%= nav_link "Login", "user", "login" %>
   </span>
<%= nav_link "Home", 'user', 'login'  %> |
<%= nav_link "Course", 'course', 'index' %> |
<%= nav_link "Discussion", 'discussion', 'index' %>
<%= yield %>
</div></div>
</body>
</html>

