<h1>User Profile</h1>
<div id="left_column">
  <div class="sidebar_box">
    <div class="sidebar_box_contents">
      <table>
         <tr>
           <td class="label">Email:</td>
           <td><%= @user.email %></td>
         </tr>
	 <tr>
           <td class="label">First name:</td>
           <td><%= @user.first_name %></td>
         </tr>
	 <tr>
           <td class="label">Last name:</td>
           <td><%= @user.last_name %></td>
         </tr>
         </tr>
      </table>
    </div>
  </div>
</div>
<% if !@enroll.nil? and @enroll!=[] %>
  <div id = "bio" class = "faq_answer">
  <span style ="float:center">
      <table class="users">
           <tr>
             <th class="label"><b>Title</b></th>
  	     <th class ="label"><b>Description</b></th>
	  </tr>
	  <% @enroll.each do |course| %>
  	  <tr>
	     <td><a href="/courses/index?id=<%= course.id %>"><%= course.title %></a> </td>
	     <td><%= course.description %></td>
	  </tr>
	  <% end %>
       </table>
   </span>
   </div>
   <br/><br/>
<% else %>
 <div>
   <span style="float:right">
	<p>Currently you are not enrolled in any courses.</p>
   </span>
 </div>
<% end %>
<div>
<br clear="all" />
<br clear="all" />
<b>Discussions: </b>
<span class="edit_link">
<%= link_to "Discussions", :action => "index", :controller => "discussions", :collection => @blog %>
</span>
<br clear="all" />
  <span style="float: right">
	<%= nav_link_courses "Create your course", "courses", "create" %> |
	<%= link_to "Delete a course", :controller => "courses", :action => "delete" %>
  </span>
</div>

<br clear="all" />
<br clear="all"/>
<div id="footer">
<span style="float:right">
  Copyright © 2013, My Company. All rights reserved.
</span>
</div>
<br clear="all"/>
