<!DOCTYPE html>
<html>
<head>
  <title>Project MOOC</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "users", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="whole_page">
  <div id="header">Project MOOC</div>
  <div id="nav">
  <span style="float: right">
 <% if logged_in? -%>
	 <%= nav_link "Announcements", "announcements", "index" %> |
        <%= nav_link "Majors", "categories", "index" %> |
        <%= nav_link "Profile", "users", "index" %> |
        <%= nav_link "Logout", "users", "logout" %>
       <% else -%>
	 <%= nav_link "Register Here!", "users", "register" %> |
        <%= nav_link "Login", "users", "login" %>
 
 <% end -%>
   </span>
    <%= nav_link "Home", 'home', 'index' %> |
    <%= nav_link "Courses", 'courses', 'index' %> |
    <%= nav_link "Discussion", 'discussions', 'index' %>
    <br clear="all"/>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</div>
</body>
</html>

