<h2>Register</h2>
<%= form_for :user do |form| %>
<fieldset>
<legend>Enter Your Details</legend>
<p>
  <label for="email">Email: </label>
  <%= form.email_field :email %>
</p>
<p>
    <label for="firstname">First Name</label>
    <%= form.text_field :first_name %>
</p>

<p>
    <label for="lastname">Last Name</label>
    <%= form.text_field :last_name %>
</p>

<p>
   <%= render :partial => "password_field_row",
              :locals  => {:form => form, :field => "password", :size => 200 } %>
  </p>
<p>
   <%= render :partial => "password_field_row",
              :locals  => {:form => form, :field => "confirm_password", :size => 200 } %>
  </p>

<%= submit_tag "Register!", :class => "submit" %>
</fieldset>
<% end %>


<div id="footer">
  Copyright © 2013, My Company. All rights reserved.
</div>
